@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

@layer components {
  .theme1 {
    --bgMain: hsl(222, 26%, 31%);
    --bgToggle: hsl(223, 31%, 20%);
    --bgScreen: hsl(224, 36%, 15%);
    --keyResetDelete: hsl(225, 21%, 49%);
    --keyResetDeleteShadow: hsl(224, 28%, 35%);
    --keyToggleEqual: hsl(6, 63%, 50%);
    --keyToggleEqualShadow: hsl(6, 70%, 34%);
    --keyNumberOperator: hsl(30, 25%, 89%);
    --keyNumberOperatorShadow: hsl(28, 16%, 65%);
    --textNumber: hsl(221, 14%, 31%);
    --textBody: hsl(0, 0%, 100%);
    /* --white: hsl(0, 0%, 100%); */
  }
  .theme2 {
    --bgMain: hsl(0, 0%, 90%);
    --bgToggle: hsl(0, 5%, 81%);
    --bgScreen: hsl(0, 0%, 93%);
    --keyResetDelete: hsl(185, 42%, 37%);
    --keyResetDeleteShadow: hsl(185, 58%, 25%);
    --keyToggleEqual: hsl(25, 98%, 40%);
    --keyToggleEqualShadow: hsl(25, 99%, 27%);
    --keyNumberOperator: hsl(45, 7%, 89%);
    --keyNumberOperatorShadow: hsl(35, 11%, 61%);
    --textNumber: hsl(60, 10%, 19%);
    --textBody: hsl(60, 10%, 19%);
    /* --white: hsl(0, 0%, 100%); */
  }
  .theme3 {
    --bgMain: hsl(268, 75%, 9%);
    --bgToggle: hsl(268, 71%, 12%);
    --bgScreen: hsl(268, 71%, 12%);
    --keyResetDelete: hsl(281, 89%, 26%);
    --keyResetDeleteShadow: hsl(285, 91%, 52%);
    --keyToggleEqual: hsl(176, 100%, 44%);
    --keyToggleEqualShadow: hsl(177, 92%, 70%);
    --keyNumberOperator: hsl(268, 47%, 21%);
    --keyNumberOperatorShadow: hsl(290, 70%, 36%);
    --textNumber: hsl(52, 100%, 62%);
    --textBody: hsl(52, 100%, 62%);
  }
  body {
    @apply bg-[--bgMain] text-[--textBody];
  }
  .logoStyle {
    @apply tracking-[-0.01em] text-[32px];
  }
  .themeToggleContainer {
    @apply flex flex-col gap-1 items-end;
  }
  .themeNumbersContainer {
    @apply flex gap-4 px-1.5;
  }
  .themeNumbers p {
    @apply text-lg;
  }
  .themeContainer {
    @apply flex gap-7 items-center;
  }
  .themeContainer p {
    @apply text-xs tracking-wider uppercase;
  }
  .themeOptions {
    @apply flex gap-1 p-1 w-[70px] rounded-[12px] bg-[--bgToggle] transition-[background] duration-300 ease-in-out;
  }
  .themeButton {
    @apply w-[18px] h-[18px] rounded-full bg-[var(--keyToggleEqual)] transition-all duration-300 ease-in-out;
  }
  .inputSectionStyle {
    @apply bg-[--bgScreen] rounded-lg p-5 mt-5;
  }
  input {
    @apply bg-inherit;
  }
  .buttonsSectionStyle {
    @apply bg-[--bgToggle] rounded-lg p-5 mt-5;
  }
  .buttonsSectionStyle button {
    @apply rounded-lg;
  }
  .number,
  .operator {
    @apply bg-[--keyNumberOperator] text-[--textNumber] w-full py-2 text-[32px] p-5 tracking-[-0.02em] shadow-[0px_5px_0px_0px_var(--keyNumberOperatorShadow)];
  }
  .equal {
    @apply bg-[--keyToggleEqual] shadow-[0px_5px_0px_0px_var(--keyToggleEqualShadow)] text-[32px];
  }
  .reset,
  .delete {
    @apply bg-[--keyResetDelete] text-[28px] text-white shadow-[0px_5px_0px_0px_var(--keyResetDeleteShadow)];
  }
  .reset,
  .equal {
    @apply col-span-2 text-white;
  }
}
